<div class="container">
    <div class="row">
        <div id="activities-overview" class="col-lg-8 col-lg-offset-2 block-comp">
            <h4>Begin overview</h4>
            <p>
                This is the overview of all my extercised activities.
            </p>
        </div>
        <div *ngFor="#activity of activities; #evenAct = even" class="col-lg-8 col-lg-offset-2 block-comp">

            <div class="row">
                <div class="col-lg-10"><h4>{{activity.title}}</h4></div><div class="col-lg-2 activity-gray activity-right">{{activity.time_past}} hours</div>
                <div class="col-lg-12"><p>{{activity.description}}</p></div>
                <div class="col-lg-8 activity-gray">{{activity.date}} at {{activity.location}}</div>
                <div class="col-lg-4 activity-right">
                    <span *ngIf="activity.sience" class="label label-primary">Science</span>
                    <span *ngIf="activity.semenaries" class="label label-success">Semenaries</span>
                    <span *ngIf="activity.lll" class="label label-info">Levenslang leren</span>
                    <span *ngIf="activity.international" class="label label-warning">Internationaal</span>
                    <span *ngIf="activity.student_participation" class="label label-danger">Studenten participatie</span>
                </div>
            </div>


        </div>
        <div class="col-lg-8 col-lg-offset-2 block-comp">
            <h4>End overview</h4>
            <p>
                These were all the extercised activities.
                 If you scroll a little bit further down, you will see my personal reflextion about some of the activities.
                 I made this selection based on my exprience and witch activities had the most impact on me as a person.
            </p>
            <p>
                <span class="label label-default">totaal {{hours}} uur</span>
                <span class="label label-primary">Science {{hours_sience}} uur</span>
                <span class="label label-info">Levenslang leren {{hours_lll}} uur</span>
                <span class="label label-warning">Internationaal {{hours_international}} uur</span>
                <span class="label label-danger">Studenten participatie {{hours_sp}} uur</span>
                <span class="label label-success">Semenaries {{hours_semenaries}} uur</span>
            </p>
        </div>
    </div>
</div>
